#blog {
  text-align: center;
  padding: 0 0 120px 0;
  max-width: 960px;
  margin: 80px auto;

  h3 {
    font-size: 24px;
    font-weight: 400;
    color: black;
    text-transform: none;
  }

  article {
    margin: 80px 0 0 0;
  }
  .entry-title {
    a {
      font-size: 27px;
      font-weight: 500;
      color: black;
    }
  }

  h1.entry-title {
    font-size: 27px;
    font-weight: 500;
    color: black;
  }

  .entry-meta {
    font-size: 8.23px;
    font-weight: 300;
    color: black;
    .published {
      font-weight: 500;
    }
    time:last-child {
      display: none;
    }
  }

  .entry-header {
    margin-bottom: 40px;
  }

  .entry-content {
    p {
      font-size: 25px;
      font-style: italic;
      font-family: 'PT Serif', serif;
      color: black;
    }
  }

  .entry-divider {
    width: 100%;
    border-bottom: 2px solid #ed3a3a;
    margin-top: 60px;
    position: relative;
    .img-social {
      position: absolute;
      top: -14px;
      left: calc(50% - 50px);
      width: 100px;
      height: 28px;
      padding: 0 6px;
      display: flex;
      justify-content: space-around;
      background: white;
      img {
        height: 28px;
        width: 24px;
      }
    }
  }
}