#education {
  #section1 {
    background: #ed3a3a;
    color: white;
    display: block;
    text-align: center;
    h1 {
      font-size: 57px;
      text-transform: uppercase;
    }
    h3 {
      color: white;
      font-family: 'PT Serif', serif;
      font-size: 35px;
      text-transform: none;
      font-style: italic;
      font-weight: 400;
    }
    img {
      width: 140px;
    }
  }
  #section2 {
    padding: 80px 180px;
    position: relative;
    .title{
      position: relative;
      h2 {
        font-size: 46px;
        font-weight: 500;
      }
      img {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 10px;
        left: -46px;
      }
    }
    p {
      font-size: 22px;
      font-style: italic;
      font-family: 'PT Serif', serif;
      color: black;
    }
    @media(max-width: 900px) {
      padding: 80px 40px;
    }
  }
  #section3 {
    background: url("../assets/images/books-gradient.jpg");
    background-size: cover;
    padding: 80px 180px;
    position: relative;
    .quote {
      padding: 80px;
      background: white;
      text-align: center;
      p {
        font-size: 28px;
        font-style: italic;
        font-family: 'PT Serif', serif;
        color: black;
      }
      h5 {
        font-size: 24px;
        color: black;
        text-transform: uppercase;
        margin-top: 40px;
      }
      @media(max-width: 900px) {
        padding: 40px;
      }
    }
    .assurance {
      height: 240px;
      display: flex;
      width: calc(100% + 180px);
      margin-left: -90px;
      margin-top: 80px;
      border-top: 3px solid #ed3a3a;
      @media(max-width: 650px) {
        height: initial;
      }
      img {
        flex-shrink: 0;
        width: 240px;
        height: 240px;
        @media(max-width: 650px) {
          display: none;
        }
      }
      .message {
        background: #EFF0F0;
        padding: 0 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
          font-size: 22px;
          font-style: italic;
          font-family: 'PT Serif', serif;
          color: black;
        }
      }
    }
    h3 {
      font-size: 40px;
      text-transform: none;
      color: #535354;
      margin: 60px 0 0 0;
    }
    @media(max-width: 900px) {
      padding: 80px 40px;
    }
  }
  #section4 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .pension {
      background: #ed3a3a;
      button {
        color: #ed3a3a;
      }
    }
    .life {
      background: #535354;
      button {
        color: #535354;
      }
    }
    .life, .pension {
      color: white;
      padding: 180px 80px;
      text-align: center;
      flex-grow: 1;
      flex-basis: 0;
      h3 {
        color: white;
        font-size: 34px;
        text-transform: none;
      }
      button {
        background: white;
      }
      @media(max-width:600px) {
        padding: 180px 40px;
      }
    }
  }
  #section5 {
    background: #eff0f0;
    text-align: center;
    padding: 80px 0;
    h3 {
      text-transform: none;
      font-weight: 400;
      font-size: 46px;
    }
    .contact-types {
      margin-top: 80px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .contact {
        width: 600px;
        .card {
          height: 400px;
          display: flex;
          position: relative;
          justify-content: space-around;
          align-content: center;
          padding: 0 40px;
          border-bottom: 3px solid #ed3a3a;
          .corner {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30px;
            height: 30px;
          }
          .icon {
            position: absolute;
            bottom: -100px;
            left: calc(50% - 100px);
            width: 200px;
            height: 200px;
            background: #eff0f0;
            border-radius: 100px;
            img {
              width: 125px;
              height: 125px;
              position: absolute;
              top: 37.5px;
              left: 37.5px;
            }
            @media(max-width: 540px) {
              display: none;
            }
          }
          .mark-con {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
          }
          .question-mark {
            height: 162px;
            width: 96px;
          }
          .question {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            span {
              padding: 0 40px;
              p {
                font-size: 25px;
                color: black;
              }
            }
          }

        }

        h5 {
          margin-top: 160px;
          font-size: 25px;
          font-style: italic;
          font-family: 'PT Serif', serif;
          color: black;
        }

        h4 {
          font-size: 37px;
          color: black;
          font-weight: 500;
        }
      }
    }
  }
  #section6 {
    text-align: center;
    background: #eff0f0;
    padding: 120px 0 240px 0;
    h2 {
      font-size: 57px;
      font-weight: 500;
    }
    h5 {
      font-size: 25px;
      color: black;
      font-weight: 300;
    }
    button{
      margin-top: 80px;
      background: #ed3a3a;
    }
  }
}