#life {
  #section1 {
    background: #535354;
    color: white;
    display: block;
    text-align: center;
    padding: 120px 0;
    h1 {
      font-size: 57px;
      text-transform: uppercase;
      letter-spacing: 8px;
    }
    h3 {
      color: white;
      font-family: 'PT Serif', serif;
      font-size: 35px;
      text-transform: none;
      font-style: italic;
      font-weight: 400;
    }
    img {
      width: 160px;
    }
  }
  #section2 {
    text-align: center;
    padding: 120px 0;
    h2 {
      color: #ed3a3a;
      font-weight: bold;
      font-size: 46px;
    }
    img {
      width: 80%;
      margin: 0 auto;
    }
    p {
      color: #000;
      font-family: 'PT Serif', serif;
      font-size: 22px;
      text-transform: none;
      font-style: italic;
      font-weight: 400;
      display: block;
      max-width: 600px;
      margin: 30px auto;
    }
  }
  #section3 {
    background: #ed3a3a;
    padding: 120px;
    position: relative;
    .down-arrow {
      z-index: 1;
      width: 60px;
      height: 60px;
      position: absolute;
      top: -30px;
      left: calc(50% - 30px);
    }
    h2 {
      color: white;
      margin-bottom: 80px;
    }
    p {
      color: white;
      max-width: 600px;
      font-size: 21px;
    }
    .products {
      padding-left: 80px;
      margin: 60px 0;
    }
    .ins-product {
      position: relative;
      p {
        font-weight: 200;
      }
      img {
        width: 50px;
        height: 50px;
        position: absolute;
        left: -56px;
        top: -14px;
      }
    }
    button {
      background: white;
      color: #ed3a3a;
    }
  }
  #section4 {
    background: url("../assets/images/bw-lady-smile.jpg") no-repeat center top;
    background-size: 100% auto;
    padding: 120px;
    padding-top: 300px;
    h1 {
      text-transform: uppercase;
      color: black;
      font-size: 66px;
    }
    .plan-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .plan {
        width: 330px;
        border-bottom: 3px solid #ed3a3a;
        position: relative;
        padding-bottom: 60px;
        margin-top: 80px;

        .title {
          padding-left: 45px;
          position: relative;
          h2 {
            font-size: 37px;
          }
          img {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 3px;
            left: 0;
          }
        }
        .content {
          padding-left: 45px;
          p {
            color: #000;
            font-family: 'PT Serif', serif;
            font-style: italic;
            font-size: 16px;
          }
        }
        .corner {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  #section5 {
    text-align: center;
    h1 {
      font-size: 46px;
      color: black;
      text-transform: uppercase;
      font-weight: 700;
    }
    .feature-table {
      display: table;
      width: 90%;
      margin: 120px auto;
      .table-header {
        h2 {
          font-size: 33px;
          font-weight: 600;
        }
        .column-1 {
          border-top: 10px solid #BABCBE;
        }
        .column-2 {
          border-top: 10px solid #ed3a3a;
        }
        .column-3 {
          border-top: 10px solid black;
        }
      }
      .table-row {
        display: table-row;
        
        box-sizing: border-box;
        .cell {
          position: relative;
          box-sizing: border-box;
          display: table-cell;
          text-align: left;
          vertical-align: top;
          padding-bottom: 40px;
          border-bottom: 2px solid #BABCBE;  
        }
        .column-1 {
          background: #eff0f0;
          box-sizing: border-box;
          padding-left: 30px;
          width: 33%;
          h3 {
            font-size: 23px;
            font-weight: 500;
            letter-spacing: 0;
            text-transform: none;
            color: #535354;
          }
        }
        .column-2, .column-3 {
          box-sizing: border-box;
          padding-left: 30px;
          width: 50%;
          display: inline-block;
          text-align: left;
          vertical-align: top;
          p {
            font-size: 16px;
            font-style: italic;
            font-family: 'PT Serif', serif;
            color: black;
          }
          .title {
            display: none;
          }
        }
        .column-2.column-span {
          width: 100%;
        }
      }
      .table-row:last-child {
        .cell {
          .underline {
            width: 100%;
            left: 0;
          }
        }
      }
    }
    @media (max-width: 799px) {
      .feature-table {
        display: block;
        .table-header {
          display: none !important;
        }
        .table-row:nth-child(even) {
          background: #eff0f0;
        }
        .table-row {
          display: block;
          padding: 40px;
          .cell {
            display: block;
            padding: 0;
            border: none;
          }
          .column-1 {
            width: 100%;
            padding-bottom: 0;
            background: none;
            margin-bottom: 40px;
            border-bottom: 2px solid #BABCBE;
            h3 {
              font-size: 33px;
              font-weight: 600;
            }
          }
          .column-2, .column-3 {
            width: 100%;
            display: block;
            padding: 0;
            span {
              display: inline-block;
              vertical-align: top;
            }
            .title {
              display: inline-block;
              width: 40%;
              @media(max-width: 520px) {
                width: 100%;
              }
              color: #58595B;
              h4 {
                font-size: 23px;
                font-weight: 600;
                margin: 20px 0;
              }
            }
            .ira {
              color: #ed3a3a;
            }
            .connector {
              font-weight: 400;
              color: #ed3a3a;
            }
            .body {
              width: 59%;
              @media(max-width: 520px) {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  #section6 {
    text-align: center;
    background: #eff0f0;
    padding: 120px 0 240px 0;
    h2 {
      font-size: 57px;
      font-weight: 500;
    }
    h5 {
      font-size: 25px;
      color: black;
      font-weight: 300;
    }
    button{
      margin-top: 80px;
      background: #ed3a3a;
    }
  }
  @media (max-width: 650px) {
    #section3 {
      padding: 40px;
    }
    #section4 {
      padding: 40px;
      h1 {
        font-size: 3.56rem;
      }
    }
  }
}