@import "common/nav.scss";
@import "components.scss";
@import "homepage.scss";
@import "single-artist.scss";
@import "single-exhibition.scss";
@import "exhibition.scss";
@import "exhibition-index.scss";
@import "upcoming.scss";
@import "about.scss";



body {
  color: $primary-color;
  margin:0;
}

html {
  margin: 0 !important;
}

footer {
        height: 300px;
        padding: 20px 40px;
        background-color: #414042;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: space-between;
        position: relative;
    }
