#serve {
  #section1 {
    position: relative;
    h1 {
      font-size: 57px;
      font-weight: 600;
      text-transform: uppercase;
      color: #535354;
    }
  }
  #section2 {
    background: #eff0f0;
    padding: 80px 120px;
    @media(max-width: 650px) {
      padding: 80px 40px;
    }
    p {
      font-size: 23px;
      font-style: italic;
      font-family: 'PT Serif', serif;
      color: black;
      line-height: 48px;
    }
  }
  #section3 {
    padding: 80px 0 80px 120px;
    @media(max-width: 650px) {
      padding: 80px 0 80px 40px;
    }
    h2 {
      font-size: 46px;
      font-weight: 600;
    }
    p {
      font-size: 23px;
      font-style: italic;
      font-family: 'PT Serif', serif;
      color: black;
      line-height: 48px;
    }
    .list-con {
      display: flex;
      flex-wrap: wrap;
      margin: 60px 0 100px 0;
      .image {
        flex-grow: 1;
        min-width: 60%;
        height: 450px;
        background: url("../assets/images/meeting-image.jpg");
        background-size: cover;
        @media(max-width: 800px) {
          display: none;
        }
      }
      .list {
        padding-left: 40px;
        padding-right: 40px;
        max-width: 400px;
        .list-desc {
          position: relative;
          img {
            width: 30px;
            height: 30px;
            position: absolute;
            left: -46px;
            top: 1px;
          }
        }
        h4 {
          margin: 0 0 60px 0;
          font-size: 26px;
          color: #535354;
          font-weight: 500;
        }
        ul {
          padding-left: 46px;
        }
        li {
          font-size: 21px;
          color: #535354;
          font-weight: 400;
          line-height: 40px;
          position: relative;
          img {
            width: 30px;
            height: 30px;
            position: absolute;
            left: -46px;
            top: 1px;
          }
        }
      }
    }
    h4 {
      font-size: 26px;
      font-weight: 500;
      color: #535354;
    }
    .help-areas {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      margin-top: 40px;
      .area {
        border: 2px solid black;
        padding: 20px;
        margin: 6px;
        color: black;
      }
    }
  }
  #section4 {
    text-align: center;
    background: url("../assets/images/red-banner-image.png");
    background-size: cover;
    padding: 120px 0 120px 0;
    h2 {
      font-size: 41px;
      font-weight: 500;
      color: white;
    }
    h5 {
      font-size: 21px;
      color: white;
      font-weight: 300;
    }
    button{
      margin-top: 40px;
      background: white;
      color: #ed3a3a;
    }
  }
  #section6 {
    text-align: center;
    background: #eff0f0;
    padding: 120px 0 240px 0;
    h2 {
      font-size: 57px;
      font-weight: 500;
    }
    h5 {
      font-size: 25px;
      color: black;
      font-weight: 300;
    }
    button{
      margin-top: 80px;
      background: #ed3a3a;
    }
  }
}