/***************
    Custom Styles
***************/


h5.form-heading {
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
}

h6.form-heading {
  color: white;
  margin-top: 0px;
  margin-bottom: 20px;
}



.teachers-appointment input {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  width: 100%;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
  margin-top: 10px;
  height: 15px;
  font-size: 12px;
  padding: 6px;
  color: darkslategray;
  margin-bottom: 0;
  background-color: white;
}

.teachers-appointment label.gfield_label {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
}

@media (min-width: 709px)  {

  .teachers-appointment .gf_right_third {
    width: 22%;
    display: inline-block;
  }

  .teachers-appointment .gf_middle_third {
    width: 38%;
    display: inline-block;
    margin-right: 7%;
  }

  .teachers-appointment .gf_left_third {
    width: 22%;
    display: inline-block;
    margin-right: 7%;
  }


  .time-field {
    width: 25%;
    display: inline-block;
  }

  .date-field {
    width: 26%;
    display: inline-block;
    margin-right: 7%;
  }

  .time-picker {
    width: 16%;
    display: inline-block;
    margin-right: 7%;
  }

}




.time-field input {
  width: 100%;
  display: inline-block;
}





.notes-field {
  width: 100%;
  height: 150px;
  display: inline-block;
  // margin-right: 7%;
  background-color: #fff;
  margin-top: 15px;
  margin-bottom: 0px;
  color: darkslategray;
}

.notes-field textarea {
  height: 150px;
}

.ginput_container_textarea { height: 45px; }

.time-field .ginput_container {
  width: 31%;
  display: inline-block;
}

.time-field .ginput_container label, .time-field .ginput_container i {
  display: none;
}

.teachers-appointment select {
  display: block;
}

.teachers-appointment .time-field select {
  background: white;
  padding: 0px;
  height: 28px;
  border: none;
  border-radius: 0px;
  font-size: 12px;
}

.teachers-appointment .time-field input {
  padding-left: 0px;
  padding-right: 0px;
}

.city-field div span label {
  display: none;
}

.city-field {
  width: 21%;
  display: inline-block;
  margin-left: 4%;
  margin-right: 6%;
}

.state-field select {
  background: white;
  padding: 0px;
  height: 28px;
  border: none;
  border-radius: 0px;
  font-size: 12px;
  color: darkslategray;
}

.state-field .address_state label {
  display: none;
}

.state-field select {
  background: white;
  padding: 0px;
  height: 28px;
  border: none;
  border-radius: 0px;
  font-size: 12px;
  margin-top: 10px;
}

.state-field {
  width: 9%;
  display: inline-block;
}

.teachers-appointment input.gform_button {
  background: #ED3A3A;
  color: white;
  border: none;
  width: 200px;
  height: 35px;
  font-size: 14px;
  border-radius: 16px;
  margin-top: 0px;
  padding: 0px;
  margin-top: 10px;
}

.teachers-appointment input.gform_button:focus {
  outline: none;
  background-color: #f45f5f;
}

.gf_left_third, .gf_middle_third, .gf_right_third {
  margin-bottom: 20px;
}

.teachers-appointment_wrapper {
  padding: 0px 60px 0px 10px;
}

@media (max-width: 709px) {
#appt-light-box #tophalf {
  height: 350px;
}
.mobile-form-container {
  background: white;
  padding: 20px 0px;
}
.mobile-form-container h5.form-heading {
  display: none;
}
.teachers-appointment .gf_left_third, .teachers-appointment .gf_middle_third, .teachers-appointment .gf_right_third {
  width: 100%;
  margin-right: 0px;
}
.teachers-appointment input {
  background-color: #eaebec;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  text-align: center;
  font-size: 10px;
}
.mobile-form-container div.gform_wrapper {
  padding: 0px;
  width: 75%;
  margin: 0px auto;
}
.teachers-appointment label.gfield_label {
  color: black;
  text-align: left;
  display: block;
}
.time-field {
  width: 100%;
  display: inline-block;
}
.date-field {
  width: 100%;
  display: inline-block;
  margin-right: 5%;
}
.teachers-appointment .time-field select {
  background: #eaebec;
}
.time-field .ginput_container {
  width: 30%;
}
.state-field select {
  background: #eaebec;
}
.state-field {
  width: 100%;
}
.city-field {
  width: 100%;
  margin-left: 0%;
  margin-right: 5%;
}
#appt-light-box #tophalf h2 {
  padding-top: 0px;
  margin-top: 0px;
}
#appt-light-box #tophalf {
  height: auto;
  padding: 55px 0px 40px 0px;
}
#appt-light-box #bottomhalf {
  height: auto;
}
#appt-light-box #bottomhalf {
  background-color: #414042;
  color: white;
  padding: 50px 20px;
}
.gform_footer.top_label {
  margin-bottom: -37px;
}
.city-field, .state-field {
  margin-top: 20px;
}
.teachers-appointment input.gform_button {
  width: 100%;
}
#appt-light-box {
  height: auto;
}
}


div.ui-timepicker-container {
  position: fixed;
}

div.ui-datepicker {

  width: 75%;
  position: relative;
  left: -300px;


  font-family: Montserrat;
  font-weight: normal;

  // font-size: 30px;

  .ui-widget-header {
    background-color: #fff;
    border: none;
  }

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
  .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    background-color: #fff;
    border: none;
  }

  .ui-state-default.ui-state-active{
    background-color: #ed3a3a;
    // border: none;
  }

  td a {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  td {

  }


  thead {
    background-color: #F5F5F5;
    border: none;
    margin:none;

  }


  span.ui-datepicker-month {

    font-family: Montserrat;
    font-weight: 500;
  }

  span.ui-datepicker-year {

    font-family: Montserrat;
    font-weight: 200;
  }



  th span {

    font-weight: 500;
    font-family: Montserrat;
  }


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
  color: #fff;
}

}


@media (min-width: 709px)  {

  div.ui-datepicker {

    width: 400px;
    height: 300px;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: normal;

    // font-size: 30px;

    .ui-widget-header {
      background-color: #fff;
      border: none;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
    .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
      background-color: #fff;
      border: none;
    }

    .ui-state-default.ui-state-active{
      background-color: #ed3a3a;
      // border: none;
    }

    td a {
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
    }

    td {

    }


    thead {
      background-color: #F5F5F5;
      border: none;
      margin:none;

    }

    thead tr th span {
      font-size: 18px;
    }

    span.ui-datepicker-month {
      font-size: 26px;
      font-family: Montserrat;
      font-weight: 500;
    }

    span.ui-datepicker-year {
      font-size: 26px;
      font-family: Montserrat;
      font-weight: 200;
    }



    th span {
      font-size: 18px;
      font-weight: 500;
      font-family: Montserrat;
    }


  }

}

.gform_confirmation_message {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 24pt;
}
